<div class="container">
    <h1>WELCOME TO CanITakeIt <%= name %> USER_ID = <%= user_id %></h1>
    <p>vous êtes a la table <%= table %></p>
    <p>AFFICHER LA LISTE DES PLATS COMMANDER</p>
    <ul>
        <li> waiting
        <% for(var i = 0; i <data.length; i++){%>
            <% for(var y = 0; y <dataP.length; y++){%>
                <% if(data[i].status == 'waiting' && data[i].plats_id == dataP[y].id ){ %>
                    <ul>
                        <a>name: <%= dataP[y].name %> </a>
                        <a href="/promoteStatus/<%=data[i].id%>">PROMOTE</a>
                    </ul>
                <%}%>  
            <%}%> 
        <%}%>
        </li>
        <li> preparation
            <% for(var i = 0; i <data.length; i++){%>
                <% for(var y = 0; y <dataP.length; y++){%>
                    <% if(data[i].status == 'preparation' && data[i].plats_id == dataP[y].id ){ %>
                        <ul>
                            <a>name: <%= dataP[y].name %> </a>
                            <a href="/promoteStatus/<%=data[i].id%>">PROMOTE</a>
                        </ul>
                    <%}%>  
                <%}%> 
            <%}%>
        </li>
        <li> ready
            <% for(var i = 0; i <data.length; i++){%>
                <% for(var y = 0; y <dataP.length; y++){%>
                    <% if(data[i].status == 'ready' && data[i].plats_id == dataP[y].id ){ %>
                        <ul>
                            <a>name: <%= dataP[y].name %> </a>
                            <a href="/promoteStatus/<%=data[i].id%>">PROMOTE</a>
                        </ul>
                    <%}%>  
                <%}%> 
            <%}%>
        </li>  
    </ul>
</div>