<%- include('./header.ejs') %>
<div class="container">
    <h1>LISTE DES PLATS</h1>
    <ul>
        <% for(var i = 0; i <data.length; i++){%>
        <li>
            <a>Dishname: <%= data[i].name %> Dishtype: <%= data[i].type_name %> Price : <%= data[i].price %> Description : <%= data[i].description %></a>  
            <a href="/formDish/<%=data[i].id%>"><button class="btn btn-primary">update</button></a>
            <% if (role == 'chef'){ %> <a href="/deleteDish/<%=data[i].id%>"><i>&#10060;</i></a> <%}%>
        </li>
        <%}%>
    </ul>
</div>
<%- include('./footer.ejs') %>