<%- include('./header.ejs') %>
<div class="container">
    <h1>WELCOME TO CanITakeIt <%= pseudo %></h1>
    <p>id : <%= id %></p>
    <p>pseudo : <%= pseudo %></p>
    <p>email : <%= email %></p>
</div>
<%- include('./footer.ejs') %>