<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>HOME</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
    <button class="add_form_field">Add New Field &nbsp; 
        <span style="font-size:16px; font-weight:bold;">+ </span>
    </button>
    <form action="/newRecipe" method="POST">
        <label for="rPlat">select plats</label>
        <select name="rPlat" class="form-control" id="rPlat">
            <% for(var i = 0; i <data.length; i++){%>
            <option value="<%=data[i].id%>" ><%= data[i].name%></option>
            <%}%>
        </select>
        <div class="container1">
            <div>
                <label for="InputMname" class="form-label">select ingredient 1</label>
                <select name="rIngredient" class="form-control" id="rIngredient">
                    <% for(var i = 0; i <dataS.length; i++){%>
                    <option value="<%=dataS[i].id%>" ><%= dataS[i].name%></option>
                    <%}%>
                </select>
                <div class="mb-3">
                    <label for="InputRQuantity" class="form-label">Quantity</label>
                    <input type="text" name="rQuantity" class="form-control" id="InputRquantity" >
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

<script>
    $(document).ready(function() {
    var max_fields = 20;
    var wrapper = $(".container1");
    var add_button = $(".add_form_field");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        if (x < max_fields) {
            x++;
            $(wrapper).append(`<div>
                                <label for="InputMIngredient" class="form-label">ingredient ${x}</label>
                                <select name="rIngredient" class="form-control" id="rIngredient">
                                    <% for(var i = 0; i <dataS.length; i++){%>
                                    <option value="<%=dataS[i].id%>" ><%= dataS[i].name%></option>
                                    <%}%>
                                </select>
                                <div class="mb-3">
                                    <label for="InputRQuantity" class="form-label">Quantity</label>
                                    <input type="text" name="rQuantity" class="form-control" id="InputRquantity" >
                                </div>
                                <a href="#" class="delete">Delete</a>
                            </div>`); //add input box
        } else {
            alert('You Reached the limits')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});
</script>