<%- include('./header.ejs') %>
<div class="container">
    <h1>LISTE DES MENUS</h1>
    <ul>
        <% for(var i = 0; i <data.length; i++){%>
            <li>
                <a>Firstname: <%= data[i].name %> Lastname: <%= data[i].surname %> Role : <%= data[i].role %></a>
                <a href="/formUser/<%=data[i].id%>"><button class="btn btn-primary">update</button></a>
                <% if (role == 'chef'){ %> <a href="/deleteUser/<%=data[i].id%>"><i>&#10060;</i></a> <%}%>
            </li>  
        <%}%>
    </ul>
</div>
<%- include('./footer.ejs') %>